{% extends "movies/base.html" %}
{% load static %}
{% block title %}Movie Details{% endblock %}
{% block body %}
 <h4>Details for the movie</h4>
    <p>{{ plot }}</p>
    <center>
    <h6>Writers: {{ writers }}</h6>
    <h6>Producers: {{ producers }}</h6>
    <h6>Actors: {{ actors }}</h6>
    <h6>Director: {{ director }}</h6>
    <h6>Awards: {{ awards }}</h6>
    <h6>Runtime: {{ runtime }}</h6>
    <h6>Genre: {{ genre }}</h6>
    </center>
 <form action="#" method="GET" name="rate_movie">
     {% csrf_token %}
  Ratings: <input type="number" name="rate" step="0.1" min="1" max="5"><br>
  <input type="submit" value="Submit" name="mybtn">
</form>

               {% for movie,id in data %}
                 <div class="col-sm-2 col-lg-1">
                   <div class="style_prevu_kit">
                    <div class="thumbnail">
                       <a href="{% url 'movies:detail' id %}">
                          <img src="{% static "movies/images/images2/" %}{{ movie }}" alt="Hi!" class="img-responsive" height="300" width="350"/>
                       </a>
                        <div class="caption">
                            <h4>{{ movie }}</h4>
                        </div>
                        </div>
                        </div>
                </div>
            {% endfor %}


{% endblock %}















