{% extends "movies/base.html" %}
{% load static %}

{% block body %}
<div class="albums-container container-fluid">
    <div class="row">
        <div class="col-sm-12">
        <center>
            <h2>Welcome {{ user.username }} </h2>
            <h2> <a href="{% url 'movies:recommend' %}">Click here to get recommend Movies for you </a></h2>
            <h2>These  are the most Popular movies  </center>
            {% for movie,id in data %}
                 <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail">
                       <a href="{% url 'movies:detail' id %}">
                          <img src="{% static "movies/images/images2/" %}{{ movie }}" alt="Hi!" class="img-responsive" />
                       </a>
                        <div class="caption">
                            <h5>{{ movie }}</h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
