{% extends "movies/base.html" %}
{% load static %}

{% block body %}
<div class="albums-container container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h2>Welcome {{ user.username }}'s </h2>
            <h2>These Most Popular movies</h2>
            {% for movie,id in data %}
                 <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail">
                       <a href="{% url 'movies:detail' id %}">
                          <img src="{% static "movies/images/images2/" %}{{ movie }}" alt="Hi!" class="img-responsive" />
                       </a>
                        <div class="caption">
                            <h4>{{ movie }}</h4>
                            <h4>the movie id of this movie is {{ id }} </h4>
                        </div>
                        </div>
                </div>
            {% endfor %}
        </div>
            
</div>
{% endblock %}
